@import "tailwindcss";
@import "tw-animate-css";

body {
  background-color: #f0f2f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-button {
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-weight: 500;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
