.blue-button {
  background-color: oklch(54.6% 0.245 262.881);
  color: #fff;
  transition-duration: 200ms;
}

.blue-button:hover {
  background-color: oklch(48.8% 0.243 264.376);
}

.blue-button-outline {
  border: 1px solid oklch(54.6% 0.245 262.881);
  color: oklch(54.6% 0.245 262.881);
  transition-duration: 200ms;
}

.blue-button-outline:hover {
  background-color: oklch(54.6% 0.245 262.881);
  color: #fff;
}
