.auth-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  width: fit-content;
  color: oklch(21% 0.034 264.665);
}

.auth-label > span {
  color: red;
}

.auth-input {
  border: 1px solid oklch(87.2% 0.01 258.338);
  width: 100%;
  border-radius: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.auth-input:focus {
  border-color: oklch(62.3% 0.214 259.815);
  outline: 1px solid oklch(62.3% 0.214 259.815);
}

.auth-box {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  max-width: 28rem;
  width: 100%;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (width >= 48rem) {
  .auth-box {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#auth-heading {
  color: oklch(21% 0.034 264.665);
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}

#auth-heading + p {
  color: oklch(55.1% 0.027 264.364);
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: center;
}

.auth-error-text {
  color: oklch(63.7% 0.237 25.331);
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  margin-top: 4px;
}

